<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Recuperação de senha</title>
</head>
<body>
    <header> 
        <h1>Note Flow</h1>
    </header>
    <main>
        <h1>Olá, {{name}}</h1>
        <h2>Recebemos uma solicitação para redefinir sua senha.</h2>

        <p>Clique no botão abixo: </p>
        <button>
            <a href="{{link}}">Recuperar senha!</a>
        </button>

        <h3>Esse link tera duração de 30 minutos.</h3>
    </main>
    <footer>
        <p>Se não foi você, apenas ignore.</p>
        <p>Equipe Note Flow</p>
    </footer>
</body>
</html>